<nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>
  
  <h5>Dashboard</h5>
<!-- box1 -->
  <div class="row">
    <div class="col-lg-3 pb-3" style="background-color: #e9e6e6">
      <div class="row">
        <div class="col-11 text-white text-center mx-auto rounded pt-2 pb-2 font-weight-bold" style="background-color: #3c2f2f; 
            font-family: 'Arial Narrow Bold', sans-serif;">{{ Designation }} <!-- a39e9e-->
        </div>

        <div class="col-12 text-center mt-2">
          <!-- <img src="assets/user.png" alt="user_profile" width="120px" /> -->
          <img src="assets/srini2.png" alt="user_profile" width="120px" />
        </div>
        <div class="col-12 text-center pt-2 pb-2 font-weight-bold" 
            style="font-family: Tahoma">{{ Username }}
        </div>

        <div class="col-12 text-center pt-2 pb-2" style="font-family: Arial">TEAM SUMMARY</div>
        <div class="col-12 mb-3">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              NO. OF TEAM MEMBERS
              <span class="badge badge-secondary badge-pill" style="font-size: 13px">{{ NoOfTeamMembers }}</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
              TOTAL COST OF ALL PROJECTS
              <span class="badge badge-secondary badge-pill" style="font-size: 13px">$ {{ TotalCostOfAllProjects }} k</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
              PENDING TASKS
              <span class="badge badge-secondary badge-pill" style="font-size: 13px">{{ PendingTasks }}</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
              UPCOMING PROJECTS
              <span class="badge badge-secondary badge-pill" style="font-size: 13px">{{ UpComingProjects }}</span>
            </li>
          </ul>
        </div>

        <!-- <div class="col-12 text-center pt-2 pb-2" style="font-family: 'Arial Narrow'">
          <b>CLIENTS</b> -->
          <div class="col-11 text-white text-center mx-auto rounded pt-2 pb-1 font-weight-bold font-italic" style="background-color: #767878; 
          font-family: 'Arial Narrow Bold', sans-serif;">CLIENTS
        </div>
        <div class="col-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">University of Sidney</li>
            <li class="list-group-item">Fidelity Investment Management Ltd.</li>
            <li class="list-group-item">UNC Health Care System</li>
            <li class="list-group-item">Kyndryl - Data Center</li>
            <li class="list-group-item">Lab Corp.</li>
            <li class="list-group-item">The Judicial Council of California</li>
            <li class="list-group-item">Stanley Black & Decker</li>
            <li class="list-group-item">Yale New Haven Hospital</li>
            <li class="list-group-item">North Carolina Admin Office</li>
            <li class="list-group-item">UC Davis Health Care</li>
            <li class="list-group-item">University of Notre Dame</li>
            <li class="list-group-item">New York City. Dept of Education</li>
          </ul>
        </div>
      </div>
    </div>
<!-- box2 -->
    <div class="col-lg-6">
      <div class="row">
        <div class="col-12 pt-0 pb-2" style="background-color: #e9e6e6">
          <div class="row mt-2">
            <div class="col-6 text-left">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown">
                  Project A
                </button>

                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Project A</a>
                  <a class="dropdown-item" href="#">Project B</a>
                  <a class="dropdown-item" href="#">Project C</a>
                  <a class="dropdown-item" href="#">Project D</a>
                </div>
              </div>
            </div>

            <div class="col-6 text-right">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown">
                  2023
                </button>

                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">2023</a>
                  <a class="dropdown-item" href="#">2022</a>
                  <a class="dropdown-item" href="#">2021</a>
                  <a class="dropdown-item" href="#">2020</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-11 mx-auto mt-1 text-white text-center pt-2 pb-2 mx-auto rounded font-weight-bold" 
            style="background-color: #718d97; font-family: 'Arial Narrow'">
          PROJECT BRIEFING
        </div>

        <div class="col-12">
          <table class="table table-borderless">
            <tr>
              <td>Project Cost</td>
              <td>${{ ProjectCost }}</td>
            </tr>
            <tr>
              <td>Current Expenditure</td>
              <td>${{ CurrentExpenditure }}</td>
            </tr>
            <tr>
              <td>Available Funds</td>
              <td>${{ AvailableFunds }}</td>
            </tr>
          </table>
        </div>

        <div class="col-11 mx-auto mt-1 text-white text-center pt-2 pb-2 mx-2 rounded font-weight-bold" style="background-color: #718d97; font-family: 'Arial Narrow'">
          TEAM MEMBERS SUMMARY
        </div>
        <div class="col-12">
          <table class="table">
            <tr>
              <th>Region</th>
              <th>Team Members Count</th>
              <th>Temporarily Unavailable Members</th>
            </tr>
            <tr>
              <td>
                <b>South</b>
              </td>
              <td>10</td>
              <td>1</td>
            </tr>
            <tr>
              <td>
                <b>East</b>
              </td>
              <td>8</td>
              <td>3</td>
            </tr>
            <tr>
              <td>
                <b>West</b>
              </td>
              <td>6</td>
              <td>2</td>
            </tr>
            <tr>
              <td>
                <b>North</b>
              </td>
              <td>12</td>
              <td>4</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
<!-- box3 -->
    <div class="col-lg-3" style="background-color: #e9e6e6">
      <div class="row">
        <div class="col-11 mx-auto mt-1 text-white text-center pt-1 pb-2 mx-2 rounded font-weight-bold"
          style="background-color: #718d97; font-family: 'Arial Narrow'">
          TEAM MEMBERS
        </div>

        <div class="col-lg-12 pt-2">
          <div class="accordion" id="accordion1">
            <!-- south starts -->
            <div class="card">
              <div class="card-header bg-secondary" id="card1">
                <h2 class="mb-0">
                  <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#cardbody1">
                    South
                  </button>
                </h2>
              </div>

              <div id="cardbody1" class="collapse show" data-parent="#accordion1">
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Ranjit</td>
                        <td><i class="fa fa-user-times"></i> Busy</td> <!--icon name is fa phone -->
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Pushkaraj</td>
                        <td><i class="fa fa-phone"></i> Available</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Rathish</td>
                        <td><i class="fa fa-phone"></i> Available</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Swathi</td>
                        <td><i class="fa fa-phone"></i> Available</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Chiranjit</td>
                        <td><i class="fa fa-user-times"></i> Busy</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>Ritesh</td>
                        <td><i class="fa fa-phone"></i> Available</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- south ends -->
  
            <!-- east starts -->
            <div class="card">
              <div class="card-header bg-secondary" id="card2">
                <h2 class="mb-0">
                  <button class="btn btn-link text-white" type="button"data-toggle="collapse" data-target="#cardbody2">
                    East
                  </button>
                </h2>
              </div>
              <div id="cardbody2" class="collapse" data-parent="#accordion1">
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Yogesh</td>
                        <td><i class="fa fa-user-times"></i> Busy</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Pooja</td>
                        <td><i class="fa fa-phone"></i> Available</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Joti</td>
                        <td><i class="fa fa-user-times"></i> Busy</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Feddy Basil</td>
                        <td><i class="fa fa-phone"></i> Available</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- east ends -->
  
            <!-- west starts -->
            <div class="card">
              <div class="card-header bg-secondary" id="card3">
                <h2 class="mb-0">
                  <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#cardbody3">
                    West
                  </button>
                </h2>
              </div>
              <div id="cardbody3" class="collapse" data-parent="#accordion1">
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Prachi</td>
                        <td><i class="fa fa-user-times"></i> Busy</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Dhiraj</td>
                        <td><i class="fa fa-phone"></i> Available</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Ekata</td>
                        <td><i class="fa fa-user-times"></i> Busy</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Vishal Shinde</td>
                        <td><i class="fa fa-phone"></i> Available</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- west ends -->
  
            <!-- north starts -->
            <div class="card">
              <div class="card-header bg-secondary" id="card4">
                <h2 class="mb-0">
                  <button class="btn btn-link text-white" type="button"     data-toggle="collapse" data-target="#cardbody4">
                    North
                  </button>
                </h2>
              </div>
              <div id="cardbody4" class="collapse" data-parent="#accordion1">
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Balwinder</td>
                        <td><i class="fa fa-user-times"></i> Busy</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Priyanka</td>
                        <td><i class="fa fa-phone"></i> Available</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Mukesh</td>
                        <td><i class="fa fa-user-times"></i> Busy</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Simran</td>
                        <td><i class="fa fa-phone"></i> Available</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- north ends -->
          </div>
        </div>
      </div>
    </div>
  </div>
  